body {
	background-image: url('http://orig00.deviantart.net/acb6/f/2013/303/7/6/gif___running_through_the_rain_by_turst67-d6scius.gif');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.card {
	border-radius: 2rem;
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

h1 {
	font-size: 2rem;
	font-family: cursive;
	border-bottom: 2px solid grey;
}

.clock {
	color: #111111;
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
}

.date {
	color: #111111;
	font-size: 1rem;
	letter-spacing: 0.3rem;
}


input {
	width: 60%;
	border-radius: 2rem;
}

.add-btn {
	border-radius: 2rem;
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

button {
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

ul li {
	list-style: none;
	padding: 0.8rem 0;
	background-color: #f8f8f6;
	color: black;
	border-radius: 2rem;
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

ul li i {
	margin: 0 1rem;
}

.completed {
	text-decoration: line-through;
	color: grey;
}

/*set trash icon in right*/
i:nth-last-child(1) {
	float: right;
	margin-top: 0.2rem;
}

.addDate {
	font-size: 0.7rem;
}